body {
  margin: 0px;
}

.logo {
  text-align: center;
  background-color: rgb(218, 138, 19);
  align-items: center;
  padding: 2rem;
  margin: 0px;
  position: relative;
  font-size: 60px;
}


.form {
  text-align: center;
  background-color: rgb(229, 118, 15);

}

.form h3 {
  padding: 1rem;
  margin: 0px;
}

.list {
  text-align: center;
  background-color: rgb(162, 104, 12);
  padding: 18rem;
}

.footer {
  text-align: center;
  background-color: darkcyan;
  padding: 1rem;
  bottom: 0px;
  position: fixed;
  width: 100%;
}